---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/3.0/onecall?appid=1897cd25fa754da2dd065a19a0784917&exclude=minutely,hourly&lat=29.9510489&lon=-90.08230762538903&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":29.951,"lon":-90.0823,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1740338311,"sunrise":1740313947,"sunset":1740354911,"temp":53.46,"feels_like":52.45,"pressure":1019,"humidity":84,"dew_point":48.76,"uvi":0.5,"clouds":100,"visibility":8047,"wind_speed":13.8,"wind_deg":80,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"rain":{"1h":1.79}},"daily":[{"dt":1740333600,"sunrise":1740313947,"sunset":1740354911,"moonrise":1740302700,"moonset":1740338520,"moon_phase":0.85,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":53.47,"min":49.1,"max":56.71,"night":51.93,"eve":56.71,"morn":50},"feels_like":{"day":52.61,"night":51.33,"eve":56.64,"morn":49.26},"pressure":1019,"humidity":87,"dew_point":49.71,"wind_speed":16.13,"wind_deg":102,"wind_gust":33.64,"weather":[{"id":502,"main":"Rain","description":"heavy
        intensity rain","icon":"10d"}],"clouds":100,"pop":1,"rain":38.85,"uvi":0.66},{"dt":1740420000,"sunrise":1740400286,"sunset":1740441355,"moonrise":1740392160,"moonset":1740428700,"moon_phase":0.88,"summary":"Expect
        a day of partly cloudy with rain","temp":{"day":54.39,"min":50.52,"max":58.93,"night":58.14,"eve":56.28,"morn":51.19},"feels_like":{"day":53.71,"night":57.65,"eve":55.83,"morn":50.38},"pressure":1018,"humidity":89,"dew_point":51.06,"wind_speed":13.27,"wind_deg":39,"wind_gust":22.88,"weather":[{"id":500,"main":"Rain","descripti[...]
